# Visual Studio
.vs/
*.user
*.suo

# Build artifacts
bin/
obj/
publish/

# Nexrad artifacts
build/
dist/
logs/
radar_data/
__pycache__

# NuGet
packages/
*.nupkg

# Logs
*.log

# Temporary files
*.tmp
*.cache
